= semantic_form_for [@cliente] do |form|
  = form.input :nome, :label => 'Nome' 
  = form.input :tipo, :label => 'Tipo Cliente'
  = form.input :cnpj, :label => 'Cnpj/Cpf'
  = form.input :dados, :label => 'Dados Cliente'
  = form.submit 'Salvar'
