<h1>Listing clientes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Cnpj</th>
    <th>Dados</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nome %></td>
    <td><%= cliente.tipo %></td>
    <td><%= cliente.cnpj %></td>
    <td><%= cliente.dados %></td>
    <td><%= link_to 'Mostrar', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Cliente', new_cliente_path %>
