<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @cliente.nome %>
</p>

<p>
  <b>Tipo Cliente:</b>
  <%= @cliente.tipo %>
</p>

<p>
  <b>Cnpj/Cpf:</b>
  <%= @cliente.cnpj %>
</p>

<p>
  <b>Dados Cliente:</b>
  <%= @cliente.dados %>
</p>


<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>
