<h1>Listing veiculos</h1>

<table>
  <tr>
    <th>Placa</th>
    <th>Hodometro</th>
    <th>Combustivel</th>
    <th>Peso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @veiculos.each do |veiculo| %>
  <tr>
    <td><%= veiculo.placa %></td>
    <td><%= veiculo.hodometro %></td>
    <td><%= veiculo.combustivel %></td>
    <td><%= veiculo.peso %></td>
    <td><%= link_to 'Show', veiculo %></td>
    <td><%= link_to 'Edit', edit_veiculo_path(veiculo) %></td>
    <td><%= link_to 'Destroy', veiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Veiculo', new_veiculo_path %>
