= semantic_form_for [@rotao] do |form|
  = form.input :motoristao, :member_label => :nome, :label =>  'Nome' 
  = form.input :veiculo, :member_label => :placa, :label => 'Placa'
  = form.input :trajeto, :label => 'Trajeto'
  = form.submit 'Salvar'

