<p id="notice"><%= notice %></p>

<font color="white">
<p>
  <b>Trajeto:</b>
  <%= @rotao.trajeto %>
</p>

<p>
  <b>Nome:</b>
  <%= @rotao.motoristao.nome %>
</p>

<p>
  <b>Placa:</b>
  <%= @rotao.veiculo.placa %>
</p>
</font>

<%= link_to 'Editar', edit_rotao_path(@rotao) %> |
<%= link_to 'Voltar', rotaos_path %>
