<h1>Listing ordemservicos</h1>

<table>
  <tr>
    <th>Rotao</th>
    <th>Cliente</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ordemservicos.each do |ordemservico| %>
  <tr>
    <td><%= ordemservico.rotao %></td>
    <td><%= ordemservico.cliente %></td>
    <td><%= link_to 'Show', ordemservico %></td>
    <td><%= link_to 'Edit', edit_ordemservico_path(ordemservico) %></td>
    <td><%= link_to 'Excluir', ordemservico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ordemservico', new_ordemservico_path %>
